<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CloudViewerApp</Name>
    <Version>3.8.0</Version>
    <Title>CloudViewerApp-3.8.0</Title>
    <Publisher>Asher</Publisher>
    <WizardStyle>Modern</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <TitleColor>#FFFFFF</TitleColor>
    <ProductUrl>https://github.com/Asher-1/CloudViewerUpdate</ProductUrl>
    <InstallerWindowIcon>cloudviewer_256.png</InstallerWindowIcon>
    <InstallerApplicationIcon>cloudviewer_32.png</InstallerApplicationIcon>
    <RunProgram>@TargetDir@/CloudViewerApp.exe</RunProgram>
    <RunProgramArguments></RunProgramArguments>
    <RunProgramDescription>Start CloudViewerApp</RunProgramDescription>
    <StartMenuDir>CloudViewer</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>@HomeDir@/CloudViewerApp</TargetDir>
    <AdminTargetDir>@rootDir@</AdminTargetDir>
</Installer>
