[Desktop Entry]
Type=Application
Version=3.9.0
Name=ACloudViewer
Comment=3D point cloud and mesh processing software
Icon=ACloudViewer.png
Exec="ACloudViewer.sh" %f
Terminal=false
Categories=Graphics;
