[Desktop Entry]
Type=Application
Version=3.8.0
Name=CloudViewer
Comment=3D point cloud and mesh processing software
Icon=CloudViewer.png
Exec="CloudViewer.sh" %f
Terminal=false
Categories=Graphics;
