[Desktop Entry]
Type=Application
Version=3.8.0
Name=ErowCloudViewer
Comment=3D point cloud and mesh processing software
Icon=ErowCloudViewer.png
Exec="ErowCloudViewer.sh" %f
Terminal=false
Categories=Graphics;
