[Desktop Entry]
Type=Application
Name=ErowCloudViewer Viewer
Comment=3D point cloud and mesh processing software
Exec=erowcloudviewer.CloudViewer
Terminal=false
Categories=Graphics;
Icon=${SNAP}/meta/gui/CloudViewer.png

Name[zh_CN]=CloudViewer.desktop
