[Desktop Entry]
Type=Application
Name=ErowCloudViewer
Comment=3D point cloud and mesh processing software
Exec=erowcloudviewer.ErowCloudViewer
Terminal=false
Categories=Graphics;
Icon=${SNAP}/meta/gui/erowcloudviewer.png

Name[zh_CN]=erowcloudviewer.desktop
